<div class='container'>
  <%if @product == nil %>
  <h2 class="text-center my-3 font-weight-bold">No product has been selected to purchase</h2>



  <%else%>



  <h2 class="text-center my-3 font-weight-bold">Choose delivery address</h2>
  <%= form_for :user, url: user_saveprofile_path(),  html: { multipart: true  }  do |f| %>
  <div class='d-flex'>

     <div class="card bg-color-blueLight h-auto w-25 " >
        <div class="card-body">
           <%= image_tag(@product.image, {:class => 'img-thumbnail'}) %>
           <div class='d-flex justify-content-between mt-4'>
              <h3 class="card-title font-weight-bold text-center"><%= @product.name %></h3>
           </div>
           <p class="card-text mb-4 "><%= @product.description %></p>
           <p class="card-text mb-4 font-weight-bold ">Total Price : ₹ <%= @product.price %></p>

           <div class="d-flex">
              <label for="quantity" class="text-info">Quantity:</label><br>
              <span>
                 <%= f.number_field :quantity,   :class => 'form-control' %>
              </span>
           </div>
        </div>
     </div>


     

     <div class="card bg-color-blueLight h-auto w-50 " >
        <div class="card-body">
           <div class="form-group">
              <label for="addressline1" class="text-info">Address line 1:</label><br>
              <span>
                 <%= f.text_field :address1,   :class => 'form-control' %>
              </span>
           </div>

<div class="form-group">
<label for="addressline2" class="text-info">Address line 2:</label><br>
<span>
<%= f.text_field :address2,   :class => 'form-control' %>
</span>
</div>

<div class="form-group">
<label for="town" class="text-info">Town:</label><br>
<span>
<%= f.text_field :town,   :class => 'form-control' %>
</span>
</div>

<div class="form-group">
<label for="state" class="text-info">State:</label><br>
<span>
<%= f.text_field :state,   :class => 'form-control' %>
</span>
</div>

<div class="form-group">
<label for="pincode" class="text-info">Pincode:</label><br>
<span>
<%= f.number_field :pincode,   :class => 'form-control' %>
</span>
</div>

<div class="form-group">
<label for="mobile" class="text-info">Mobile:</label><br>
<span>
<%= f.number_field :mobile,   :class => 'form-control' %>
</span>
</div>

<%= f.check_box :paid %>
<label for="default address" class="">Default Shipping Address</label><br>




</div>




</div>

<div class="card bg-color-blueLight h-100 w-25 " >
<div class="card-body text-center">
  
   <h3 class="card-title font-weight-bold text-center">Total Price : <%= @product.price %></h3>

   <%= link_to "Purchase", purchaseproducts_path,
   { :class => "btn btn-primary text-light my-3"} %>
</div>
</div>


</div>


<%end %>


  <%end%>


</div>