<div class='container '>
 <div class='col-md-12 p-4'>
 <h2 class="text-center my-3 font-weight-bold">Category list</h2>
 <% if @current_user.is_admin == true %>
 <%= link_to "Create new category ", new_category_path,  
 {:class => "btn btn-default text-black-50"} %>
 <% end %>

 <% if  @categories.length == 0 %>
 <h2 class="text-center">No Category list to be shown</h2>

 <% else %>
 <div class='my-4 row ml-4'>

 <% @categories.each do |category| %>

<div class="card bg-color-blueLight h-auto col-md-5" >
<div class="card-body">
<div class=' mb-4 d-flex justify-content-between'>
  <h3 class="card-title font-weight-bold"><%= category.name %></h3>
  <% if @current_user.is_admin == true %>

  <%= form_for :category, url: categories_viewproducts_path() do |f|  %>
   <input type='hidden' name="current_category" placeholder='name' value='<%=category.id%>'>
   <%= f.submit 'View products', :class => ''%>
   <% end %>
   <% end %>

  </div>

  <p class="card-text mb-4"><%= category.desccriptioin %></p>
  <% if @current_user.is_admin == true %>

  <%= link_to 'Edit', edit_category_path(category) , 
  { :class => "btn btn-primary text-light "}%>

  <%= link_to 'Delete', category, method: :delete,
  data: { confirm: 'Are you sure to delete ?'  },  class: "btn btn-danger text-light" %>
  
  <% end %>

</div>
</div>

<% end %>












</div>

 <% end %>





 </div>
 </div>



</div>