<div class='container '>
<div class='col-md-12'>
<h2 class="text-center my-3 font-weight-bold">Product list under Category <%= @current_category_name && 
@current_category_name.name%></h2>

<% if  @products.length == 0 %>
<h2 class="text-center">No Products to be shown</h2>


<% else %>
<div class='my-4 d-flex'>

<% @products.each do |product| %>

   <div class="card bg-color-blueLight h-auto w-50" >
   <div class="card-body">
   <div class='d-flex'>
   <%= image_tag(product.image, {:class => 'img-thumbnail rounded-circle w-25 my-3'}) %>
   <div class='mt-5 ml-5'>

   <h3 class="card-title font-weight-bold text-center"><%= product.name %></h3>
   <p class="card-text mb-4 font-weight-bold ">₹<%= product.price %></p>
   </div>
   </div>

   <p class="card-text mb-4"><%= product.description %></p>
   </div>
   </div>




<%end %>
</div>


<%end %>


</div>
</div>