
   <% if  @products.length == 0 %>

   <h1 style="text-align:center">No Prodsduct list to be shown</h1>

   <% else %>

   <p class="text-warning">.text-warning</p>

   <h2 style='text-align:center'>Products</h2>
   <div style='display:flex;    margin: 10px 20px;justify-content: flex-end;'>
      <%= form_for :product, url: products_filter_path() do |f| %>
      <label>categories</label>
      <span style="margin:0 1rem;">
         <input type='hidden' name="product[page]" placeholder='name' value='dashboard'>
         <select name="product[filter_category_id]" style="width: 200px;
            padding: 10px;"
            %>
            <% @categories.each do |category| %>
            <option value=<%= category.id%> 
               <%=  @filter_category_id == category.id ? selected = "selected"  : ''%>
               ><%= category.name%></option>
            <% end %>
         </select>
      </span>
      <%= f.submit 'Filter', :class => ''  %>
      <% end %>
      <%= form_for :product, url: products_reset_path() do |f| %>
      <input type='hidden' name="product[page]" placeholder='name' value='dashboard'>
      <%= f.submit 'Reset', :class => ''  %>
      <% end %>
   </div>
   <div style='display:flex;justify-content:center;width:100%'>
      <% @products.each do |product| %>
      <div style='background:#f7f4f4; width:33.3%; height: 440px; margin: 20px;text-align:center;padding:30px'>
         <%= image_tag(product.image, {:style =>"max-width: 100%; margin-top: -6px;max-height:150px"}) %>
         <br>
         <br>
         <span style='font-weight:bold;font-size: 25px'> Name : </span><span style='font-weight:bold;font-size: 25px'><%= product.name %></span>
         <br>
         <br>
        <span style='font-size: 20px'>
         <%= product.description %></span>
         <br>
         <br>
         <span style='font-size: 20px'> price :  Rs.</span><span style='font-size: 20px'>
         <%= product.price %></span>
         <br>
         <br>
         <% if @current_user.is_admin == true %>
         <span style='color:rebeccapurple'> 
         <span style='font-size: 15px'>
         <%= product.created_by %></span> added this product.
         </span>
         <% end %>
      </div>
      <% end %>
   </div>
</div>
<% end %>
</div>

<br>
<br>


<div>
   <h2 style='text-align:center'>Category </h2>
   <% if  @categories.length == 0 %>
   <h1 style="text-align:center">No Category list to be shown</h1>
   <% else %>
   <div style='display:flex'>
      <% @categories.each do |category| %>
      <div style='background:#f7f4f4; width:33.3%; height: 260px; margin: 20px;text-align:center;padding:30px'>
         <span style='font-weight:bold;font-size: 25px'><%= category.name %></span>
         <br><br>
         <span><%= category.desccriptioin %></span>
         <br><br>
         <% if @current_user.is_admin == true %>
         <%= link_to 'Edit', edit_category_path(category) , 
            {:style=>'margin:0px 20px;color:blue', :class => ""}%>
         <span style='    border: 1px solid blue;
            padding: 5px;'>
         <%= link_to 'Delete', category, method: :delete,
            data: { confirm: 'Are you sure to delete ?' } %>
         </span>
         <br><br>
         <br>
         <% end %>
         <%= form_for :category, url: categories_viewproducts_path() do |f| %>
         <input type='hidden' name="current_category" placeholder='name' value='<%=category.id%>'>
         <%= f.submit 'View products', :class => ''%>
         <% end %>
      </div>
      <% end %>
   </div>
   <br>
   <% end %>
</div>