<div class='container'>
<div class='col-md-12 p-4'>
<h2 class="text-center my-3 font-weight-bold">Product list</h2>

<div class='align-content-center d-flex justify-content-between'>
<% if @current_user.is_admin == true %>
<%= link_to "Create new product ", new_product_path,  
   { :class => "btn btn-default text-black-50 h-100"} %>
<% end %>
<% if  @products.length != 0 %>
<div class='d-flex mb-3'>
   <label for="categories" class="text-info">Categories:</label><br>

   <%= form_for :product, url: products_filter_path() do |f| %>
   <span class="m-4">
      <input type='hidden' name="product[page]" placeholder='name' value='products'>
      <select name="product[filter_category_id]" class="w-auto p-2"
         %>
         <% @categories.each do |category| %>
         <option value=<%= category.id%> 
            <%=  @filter_category_id == category.id ? selected = "selected"  : ''%>
            ><%= category.name%></option>
         <% end %>
      </select>
   </span>
   <%= f.submit 'Filter', :class => ''  %>
   <% end %>
   <%= form_for :product, url: products_reset_path() do |f| %>
   <input type='hidden' name="product[page]" placeholder='name' value='products'>
   <%= f.submit 'Reset', :class => ''  %>
   <% end %>
</div>
<% end %>
</div>



<% if  @products.length == 0 %>
<h2 class="text-center">No Product list to be shown</h2>
<% else %>
<div class='row w-100 ml-5'>

<% @products.each_with_index do |product, index| %>


<div class="card bg-color-blueLight h-auto col-md-5 " >
<div class="card-body">
<div class='d-flex'>
<%= image_tag(product.image, {:class => 'img-thumbnail rounded-circle w-25'}) %>
<div class='mt-5 ml-5'>

<h3 class="card-title font-weight-bold text-center"><%= product.name %></h3>
<p class="card-text mb-4 font-weight-bold ">₹<%= product.price %></p>
</div>
</div>

<p class="card-text my-3"><%= product.description %></p>

<% if @current_user.is_admin == true %>
<%= link_to "Edit", edit_product_path(product) ,
{:class => "btn btn-primary text-light "} %>
<% end %>


<%= link_to "Delete", product, method: :delete,
data: { confirm: 'Are you sure to delete ?'  },  class: "btn btn-danger text-light" %>
</div>


</div>


<% end %>


</div>

<% end %>

</div>
</div>