<div class='container'>
<div>
<h2 class="text-center my-3 font-weight-bold">Product list</h2>

<div class='align-content-center d-flex justify-content-around '>
<% if @current_user && @current_user.is_admin == true %>
<%= link_to "Create new product ", new_product_path,  
   { :class => "btn btn-default text-black-50 h-100 ml-4"} %>
<% end %>
<% if  @products.length != 0 %>
<div class='d-flex mb-3'>
   <label for="categories" class="">Sort by categories:</label><br>

   <%= form_for :product, url: products_filter_path() do |f| %>
   <span class="m-4">
      <input type='hidden' name="product[page]" placeholder='name' value='products'>
      <select name="product[filter_category_id]" class="w-auto p-2"
         %>
         <% @categories.each do |category| %>
         <option value=<%= category.id%> 
            <%=  @filter_category_id == category.id ? selected = "selected"  : ''%>
            ><%= category.name%></option>
         <% end %>
      </select>
   </span>
   <%= f.submit 'Filter', :class => ''  %>
   <% end %>
   <%= form_for :product, url: products_reset_path() do |f| %>
   <input type='hidden' name="product[page]" placeholder='name' value='products'>
   <%= f.submit 'Reset', :class => ''  %>
   <% end %>
</div>
<% end %>
</div>



<% if  @products.length == 0 %>
<h2 class="text-center">No Product list to be shown</h2>
<% else %>

<div class='row' style='margin-left:100px'>

<% @products.each_with_index do |product, index| %>

   <%= link_to  viewproducts_path(request.query_parameters.merge({ product:   product.id })) , {:class => "text-black"} do %>

   <div class="card bg-color-blueLight h-auto col-md-3 m-3 p-3" >
   <div class="card-body p-2">
      <div class=''>
         <%= image_tag(product.image, {:class => 'img-thumbnail'}) %>
            <div class='d-flex justify-content-between mt-2'>
               <h3 class="card-title font-weight-bold text-center"><%= product.name %></h3>
               <% if @current_user && @current_user.is_admin == true %>
                  <%= link_to  edit_product_path(product) , {:class => "text-black"} do %>
                     <i class="fa fa-edit"></i>
                  <% end %>
               <% end %>

            </div>
            <p class="card-text font-weight-bold text-body mb-2">Price : ₹ <%= product.price %></p>

            <%= link_to "Purchase", purchaseproducts_path(request.query_parameters.merge({ product:   product.id })),
               { :class => "btn btn-primary text-light"} %>

            <% if @current_user && @current_user.is_admin == true %>

               <%= link_to "Delete", product, method: :delete,
                  data: { confirm: 'Are you sure to delete ?'  },  class: "btn btn-danger text-light" %>
            <% end %>
         </div>
      </div>

   </div>

   <% end %>



   <% end %>


</div>

<% end %>

</div>
</div>