<div class='container'>
<div class='col-md-12'>

  <h2 class='text-center font-weight-bold m-4'> View Product <%= @product.name%> </h2>

  <div class="card bg-color-blueLight h-auto w-100" >
    <div class="card-body">
      <div class='d-flex'>
      <%= image_tag(@product.image, {:class => 'img-thumbnail w-50'}) %>
      <div class=' p-4'>
      <div class='d-flex justify-content-between'>
      <h3 class="card-title font-weight-bold text-center"><%= @product.name %></h3>
      <p class="card-text mb-4 font-weight-bold ">₹<%= @product.price %></p>
      </div>

      <p class="card-text mb-4 "><%= @product.description %></p>
      </div>


      </div>
    </div>

  </div>
  </div>

</div>