

<h1 style="text-align:center">Add Product to category list</h1>
<br>
<br>
<br>
  <% if  @products.length == 0 %>
<h3 style="text-align:center">No Product list to be shown. Please create a product to add</h3>

<%= link_to "Create new product ", new_product_path,  
{:style=>'margin:20px;font-size:20px;text-align:center', :class => ""} %>

 <% else %>
<%= form_for :product, url: assignproducts_action_path() do |f| %>

<table border="1" style="margin:auto">
  <thead>
    <th style="padding:20px">Name</th>
    <th  style="padding:20px">Description</th>
    <th  style="padding:20px">Price</th>
    <th  style="padding:20px">Action</th>

  </thead>
  <% @products.each do |product| %>
  <% if product.category_id == nil %>
  <tr>
    <td style="padding:20px"><%= product.name %></td>
    <td style="padding:20px"><%= product.description %></td>
    <td style="padding:20px"><%= product.price %></td>
    <td style="padding:20px">
     
      <%# <%= link_to "Add", product, method: :aaa,
       data: { confirm: "Are you sure you want to Add this product?"}
        %>

<%= hidden_field_tag "checked[#{product.id}]"  %>
 <%= check_box_tag "checked[#{product.id}]" %>
    </td>
  </tr>
    <% end %>

  <% end %>
</table>
<br>
<br>
<div style='text-align:center'>
<%# <%= button_to 'Add Products to category', '', method: :get %> 
</div>
<div style ='text-align:center'>
    <%= f.submit 'Add products', :class => 'btn btn-primary'  %>

    </div>

<% end %>

  <% end %>


